{% extends 'base.jinja' %}

<!-- index.jinja - for testing purposes -->

{% block title %}
<h1>Pets</h1>
{% endblock %}

{% block content %}

<div class="pets-container">
    {% for pet in avail_pets %}
    <div>
        <img src="{{ pet.photo_url }}">
        <div><a href="/{{ pet.id }}">{{ pet.name }}</a> is <b>Available</b></div>
    </div>
    {% endfor %}
    {% for pet in unavail_pets %}
    <div>
        <img src="{{ pet.photo_url }}">
        <div><a href="/{{ pet.id }}">{{ pet.name }}</a> is <b>Not Available</b></div>
    </div>
    {% endfor %}
</div>

<form action="/add">
    <button>Add a Pet</button>
</form>

{% endblock %}